.grass{
  background-color: #3E9709;
}
.fire{
  background-color: #F67F0B;
} 

.water{
  background-color: #0A7ABC;
}

.normal {
  background-color: #CCC9AA;
}

.flying {
  background-color: #5EB9B2;
}

.bug {
  background-color: #BDDD6E;
}

.poison {
  background-color: #A819D7;
}

.electric {
  background-color: #FFFA24;
}

.ground {
  background-color: #EDE293
}

.fighting {
  background-color: #D36063
}

.psychic {
  background-color: #F45792
}

.rock {
  background-color: #776940
}

.ice {
  background-color: #66D1E5
}

.ghost {
  background-color: #8E55A4
}

.dragon {
  background-color: #8A55FD
}

.dark {
  background-color: #5F4632
}

.steel {
  background-color:#7B8E8A
}

.fairy {
  background-color:#FDD1E0
}

.pokemon{
  display: grid;
  grid-template-columns: 1fr 1fr;

  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon-box{
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: 1rem;
  color: #fff;
  border-radius: 1rem;
}

.pokemon-box span{
  display: inline;
}

.pokemon-box .name{
  text-transform: capitalize;
  margin: .25rem 0;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.pokemon-box .number{
  color: #000;
  opacity: .3;
  text-align: right;
  font-size: 1rem;
}

.pokemon-box .detail{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-box .detail .types{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pokemon-box .detail .types .type{
  color: #fff;
  padding: .7rem .7rem;
  margin: 1rem;
  font-size: 1.2rem;
  border-radius: 10rem;
  text-align: center;
  filter: brightness(1.2);
}

.pokemon-box .detail img{
  max-width: 100%;
  height: 80px;
}

@media screen and (max-width: 380px) {
  .pokemon{
    grid-template-columns: 1fr;
    min-width: 190px;
  }
}

@media screen and (min-width: 576px) {
  .pokemon{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 0 auto;
  }

  .pokemon {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
